# === .gitignore files ===

# Ignore the zip files
*.zip

# Ignore the .user file
*.user

# Ignore the vs.pdb
*.pdb

# Ignore the vs.filters and .user file
*.vcxproj.filters
*.vcxproj.user

# Ignore the build file/folder
build*

# Ignore the temp doxygen file
.DS_Store
